.main-content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.navbar-toggler {
    box-shadow: none !important;
}

.file-selector-header {
    width: 80px;
    height: 80px;
}

.file-card,
.card-shadow {
    box-shadow: rgba(0, 0, 0, .16) 0 1px 4px;
}

.file-card:hover {
    cursor: pointer;
}

.card {
    border-radius: 0.75rem;
}

.table {
    border-radius: 0.75rem;
    overflow: hidden;
}

.table thead th:first-child {
    border-top-left-radius: 0.75rem;
}

.table thead th:last-child {
    border-top-right-radius: 0.75rem;
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.75rem;
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.75rem;
}

.translation-textarea {
    min-width: 200px;
    resize: vertical;
}

.translation-textarea.bg-danger::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

#translation-table tbody td:nth-child(1) {
    width: 50px;
}

#translation-table tbody td:nth-child(2) {
    width: 200px;
}

#translation-table tbody td:last-child {
    width: 100px;
}

#overrides-table tbody td:nth-child(1) {
    width: 50px;
}

#overrides-table tbody td:nth-child(2) {
    width: 300px;
}

#overrides-table tbody td:nth-child(3) {
    width: 100px;
}

#overrides-table tbody td:last-child {
    width: 120px;
}